<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-Ua-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width">
  <title>Footer</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=devide-width, initial-scale=1">
  <link href="/stylesheets/footer.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <footer class="footer">
      <!-- <div class="container"> -->
          <div class="footer-content">
              <ul class="footer-menu">
                  <li><a href="http://127.0.0.1:3000/#:~:text=Como%20Funciona%3F-,O%20que%20%C3%A9%20o%20Bookap%C3%AA%3F,-O%20Bookape%20%C3%A9">About</a></li>
                  <li><a href="http://127.0.0.1:3000/#:~:text=Com%20o%20bookap%C3%AA%20voc%C3%AA%20pode">Resources</a></li>
                  <li><a href="http://127.0.0.1:3000/#:~:text=crit%C3%A9rio%20que%20desejar.-,Vamos%20conversar%3F,-Preencha%20o%20formul%C3%A1rio">Contact</a></li>
              </ul>
            <div class="footerBottom">
              <p>CopyRight &copy;2024, Designed by <span class="designer"> Thalita Rodrigues</span></p>
            </div>
          </div>
        
      <!-- </div> -->
  </footer>

</body>

</html>

