<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-Ua-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width">
  <title>Header</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=devide-width, initial-scale=1">
  <link href="/stylesheets/header.css" rel="stylesheet" type="text/css" />
</head>


<body>
  <header>
    <img class="logo" src="img/logo.png" alt="logo">
    <nav>
      <ul class="nav_links">
        <!-- <li><a href="#">Home</a></li>
        <li><a href="#">Meu Bookapê</a></li>
        <li><a href="#">Perfil</a></li> -->
        <li><a href="#">Início</a></li>
        <li><a href="http://127.0.0.1:3000/#:~:text=Como%20Funciona%3F-,O%20que%20%C3%A9%20o%20Bookap%C3%AA%3F,-O%20Bookape%20%C3%A9">Sobre</a></li>
        <li><a href="http://127.0.0.1:3000/#:~:text=Com%20o%20bookap%C3%AA%20voc%C3%AA%20pode">Recursos</a></li>
        <li><a href="http://127.0.0.1:3000/#:~:text=crit%C3%A9rio%20que%20desejar.-,Vamos%20conversar%3F,-Preencha%20o%20formul%C3%A1rio">Contate-nos</a></li>
      </ul>
    </nav> 

    <a class="cta" href="#">
    <div id="buttons">
      <button id="login_btn">Login</button></a>
      <button id="get_started_btn">Comece aqui</button></a>
    </div>
  </header>

  <script src="javascripts/btnActions.js"></script>

</body>

</html>

