<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-Ua-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width">
  <title>Header</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=devide-width, initial-scale=1">
  <link href="/stylesheets/header.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <header>
    <img class="logo" src="img/logo.png" alt="logo">
    <nav>
        <ul class="nav_links">
            <li><a href="#">Meu Bookapê</a></li>
            <li><a href="#">Perfil</a></li>
            <li><a href="#">Pesquisar</a></li>
        </ul>
    </nav> 

    <div id="buttons">
      <button id="logout_btn">Sair</button></a>
    </div>
  </header>

  <script src="javascripts/btnActions.js"></script>

</body>

</html>

