<!DOCTYPE html>
<html>
<head>
    <title>Registrar</title>
    <link rel="stylesheet" href="/stylesheets/signUp.css">
</head>
<body>
    <div class="container">
        <header>
            <h2>Bem-vindo ao Bookapê!</h2>
            <p>Crie uma conta para começar.</p>
        </header>
            

        <main>
            <div class="form">
            <form action="#">
                <label for="email">E-mail:</label>
                <input type="email" id="email" name="email" placeholder="Digite seu email (ex.: user123@gmail.com)" required>

                <!-- <label for="username">Nome de Usuário:</label>
                <input type="text" id="username" name="username" required> -->

                <label for="password">Senha:</label>
                <input type="password" id="password" name="password" placeholder="Digite sua senha (ex.: user12345)" required>

                <label for="confirmPassword">Confirmar Senha:</label>
                <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirme sua senha"required>
            </div>

            <a href="/signIn" class="reference-button">Já te uma conta? Faça login</a>

            <button type="submit" class="principal-button">Registrar</button>

            </form>
        </main>
    </div>
  <footer>
  </footer>
</body>
</html>
