.section-book-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 20px;
}

.title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.description {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
}

.book_cover {
    width: 100%; 
    max-width: 500px;
    max-height: 600px;
    object-fit: contain;
    border: 1px solid #ccc;
    display: block;
    margin-top: 10px;
}

#book_cover_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    height: auto;
}

#book-form {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-width: 60%;
}

.form-field {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

label {
    font-size: 1rem;
    margin-bottom: 5px;
}

input, textarea {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

textarea {
    resize: vertical;
}

#submit-button {
    padding: 16px 20px;
    font-size: 18px;
    text-decoration: none;
    color: #fff;
    background-color: rgba(255, 123, 120, 1);
    border: 2px solid#e57371;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.3s ease;

}

#submit-button:hover {
    background-color: rgba(213, 110, 108,1);
    border: 2px solid #e57371;
    color: #f5f5f5;
}
